.btn-blue {
  background: linear-gradient(90deg, rgb(195, 138, 31), orange);
  color: white;
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-blue:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px orange;
}